<div class="card-category">
  <div>
  <% if listing.photo.key %>
    <%= cl_image_tag listing.photo.key %>
  <% else %>
    <h2>Nothing here yet!</h2>
  <% end %>
  </div>
  <h3><%= listing.name %></h3>
  <p>Price per day: £<%= listing.price_per_day %></p>
  <p>Seller: <%= listing.user.first_name %> <%= listing.user.last_name %></p>
</div>
