<div class="card-category">
  <%= cl_image_tag listing.photos.first.key %>
  <div class="card-infos-container">
    <div>
      <h4><%= listing.name %></h4>
    </div>
    <div class="card-infos">
      <p class="card-infos-price">£<%= listing.price_per_day %> per day </p>
      <div class="seller">
        <p><%= listing.user.first_name %> <%= listing.user.last_name.first %></p>
        <% if listing.user.photo.key? %>
          <%= cl_image_tag listing.user.photo.key%>
        <% else%>
          <img src=<%= image_path("unknown.png") %> class="card-seller" alt="User picture" width="50" height="50">
        <% end %>
      </div>

    </div>
  </div>
</div>
