<div class="card-category">
  <div>
  <% if listing.photo.key %>
    <%= cl_image_tag listing.photo.key %>
  <% else %>
    <h2>Nothing here yet!</h2>
  <% end %>
  </div>
  <h3 class="mx-2"><%= link_to listing.name, listing_path(listing) %></h3>
  <div class="d-flex">
    <div>
      <ul>
        <li>Price per day: £<%= listing.price_per_day %></li>
        <li>Seller: <%= listing.user.first_name %> <%= listing.user.last_name %></li>
        <li>
          <% if listing.user.photo.key? %>
            <%= cl_image_tag listing.user.photo.key %>
          <% else %>
            <p><img src="unknown.png" alt="profile pic" ></p>
          <% end %>
        </li>
        <%# Size %>
      </ul>
    </div>
    <div>
      <ul>
        <%# Brand, condition %>
      </ul>
    </div>
  </div>
  <h3><%= listing.name %></h3>
  <p>Price per day: £<%= listing.price_per_day %></p>
  <p>Seller: <%= listing.user.first_name %> <%= listing.user.last_name %></p>
</div>
