<div class="form-container">
  <h1 class="fw-bold pb-2">  Add new listing!! </h1>
  <%= simple_form_for @listing, :html => { :class => "form" }  do |f| %>
    <%= f.input :name, placeholder: "Name", label: false %>
    <%= f.input :equipment_type, placeholder: "Equipment Type", label: false %>
    <%= f.input :price_per_day, placeholder: "Price per day, £", label: false %>
    <%= f.input :photo, as: :file %>
    <%= f.input :size, placeholder: "Size", label: false %>
    <%= f.input :condition, placeholder: "Condition", label: false %>
    <%= f.input :brand, placeholder: "Brand", label: false %>
    <%= f.input :gender, placeholder: "Gender", label: false %>
    <%= f.input :description, placeholder: "Description", label: false%>
    <%= f.submit "Submit listing", class: "btn btn-primary" %>
  <% end %>
</div>
