<div class="form-container">
  <h1 class="fw-bold pb-2">  Add new listing!! </h1>
  <%= simple_form_for @listing, :html => { :class => "form" }  do |f| %>
    <%= f.input :name, placeholder: "*Title of the post", label: false %>
    <%= f.input :equipment_type, label: false, collection: ["*Equipment Type", "goggles", "snowboard", "poles", "skis", "helmet", "gloves"], selected: "*Equipment Type" %>
    <%= f.input :price_per_day, placeholder: "*Price per day, £", label: false%>
    <%= f.input :photos, as: :file, label: 'Upload Photos', input_html: { multiple: true } %>
    <%= f.input :size, placeholder: "Size", label: false %>
    <%= f.input :condition, label: false, collection: ["Condition", "Very Good", "Good", "Satisfactory", "As good as New"], selected: "Condition"%>
    <%= f.input :brand, placeholder: "Brand", label: false %>
    <%= f.input :gender, label: false, collection: %w[Gender Unisex Men Women Boy Girl], selected: "Gender"%>
    <%= f.input :description%>
    <%= f.submit "Submit listing", class: "btn btn-primary" %>
  <% end %>
</div>
