<div class="form-container">
  <h1 class="fw-bold pb-2">  Add new listing!! </h1>
  <%= simple_form_for @listing, :html => { :class => "form" }  do |f| %>
    <%= f.input :name, placeholder: "*Title of the post", label: false %>
    <%= f.input :equipment_type, placeholder: "*Equipment Type", label: false %>
    <%= f.input :price_per_day, placeholder: "*Price per day, £", label: false %>
    <%= f.input :photos, as: :file, label: 'Upload Photos', input_html: { multiple: true } %>
    <%= f.input :size, placeholder: "Size", label: false %>
    <%= f.input :condition, placeholder: "Condition", label: false %>
    <%= f.input :brand, placeholder: "Brand", label: false %>
    <%= f.input :gender, collection: %w[Unisex Men Women Boy Girl]%>
    <%= f.input :description%>
    <%= f.submit "Submit listing", class: "btn btn-primary" %>
  <% end %>
</div>
