


<div class="container justify-content-center">

  <h1><%= @listing.name %></h1>

    <div class="row" class="product-img">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    </div>

    <div class ="row">
        <div class="description">
          <p><%= @listing.equipment_type %></p>
          <p><%= @listing.price_per_day %></p>
          <p>size:</p>
          <p>gender:</p>
          <p>condition:</p>
          <p>brand:</p>
        </div>
        <div class="booking-form"></div>
    </div>

</div>
<h1><%= @listing.name %></h1>
<p><%= @listing.equipment_type %></p>
<p><%= @listing.price_per_day %></p>
<p>size</p>
<p>gender</p>
<p>condition</p>
<p>brand</p>


<h2>Rent this item</h2>
<%= simple_form_for [@listing, @offer] do |f| %>
  <%= f.input :message %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Reserve this item", class: "btn btn-primary" %>
<% end %>
