


<div class="container justify-content-center">

  <h1 class="pt-3 pb-3"><%= @listing.name %></h1>

    <div class="row product-img">
      <%= cl_image_tag @listing.photo.key %>
    </div>

    <div class ="row">
        <div class="description col-6">
          <ul>
            <li class="border-bottom"><strong>Equipment: </strong><%= @listing.equipment_type.capitalize %></li>
            <li class="border-bottom pb-3"><strong>Seller: </strong><%= @listing.user.first_name%><%= @listing.user.last_name %></li>
            <li><strong>Size: </strong><%= @listing.size %></li>
            <li><strong>Gender: </strong><%= @listing.gender.capitalize %></li>
            <li><strong>Condition: </strong><%= @listing.condition.capitalize %></li>
            <li class="border-bottom pb-3"><strong>Brand: </strong><%= @listing.brand.capitalize %></li>
            <li><strong>Description: </strong><%= @listing.description %></li>
          </ul>

        </div>

        <div class="booking-form col-6">
          <h4>Rent this item</h4>
          <h6> Price Per Day: <strong>£<%= @listing.price_per_day %><strong></h6>
          <%= simple_form_for [@listing, @offer] do |f| %>
            <%= f.input :message %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.submit "Reserve this item", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>

</div>
