


<div class="container justify-content-center">

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="pt-3 pb-3"><%= @listing.name %></h1>
    <p class="m-0"><%= link_to "Back to results", listings_path, class: "back-link" %></p>
  </div>

    <% @listing.photos.each do |photo| %>
      <div class="row product-img">
        <%= cl_image_tag photo.key %>
      </div>
    <% end %>

    <div class ="row">
        <div class="description col-6">
          <ul>
            <li class="border-bottom"><strong>Equipment: </strong><%= @listing.equipment_type.capitalize %></li>
            <li class="border-bottom pb-3"><strong>Seller: </strong><%= @listing.user.first_name%> <%= @listing.user.last_name %></li>
            <li><strong>Size: </strong><%= @listing.size %></li>
            <li><strong>Gender: </strong><%= @listing.gender.capitalize %></li>
            <li><strong>Condition: </strong><%= @listing.condition.capitalize %></li>
            <li class="border-bottom pb-3"><strong>Brand: </strong><%= @listing.brand.capitalize %></li>
            <li><strong>Description: </strong><%= @listing.description %></li>
          </ul>

        </div>

        <div class="booking-form col-6 <%= "current" if @listing.user == current_user %>">
          <h4>Rent this item</h4>
          <h6> Price Per Day: <strong>£<%= @listing.price_per_day %><strong></h6>
          <%= simple_form_for [@listing, @offer] do |f| %>
            <%= f.input :message %>
            <%= f.input :start_date,
                        as: :string,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date,
                        as: :string,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.submit "Reserve this item", class: "btn btn-primary" %>
          <% end %>
        </div>
    </div>
    <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
