<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "Screenshot 2023-11-21 at 12.11.15.png" %>
        <h3>SlopeRentals</h3>
      <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <div class="search-container">
              <form action="/index page" class="d-flex" id="search-form">
                <input type="text" placeholder="Find items" name="search" class="form-control form-control-sm">
                <button type="submit" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Make a listing", new_listing_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
              <%# profile picture display %>
              <% if current_user.photo.key? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
              <% else%>
                <img src=<%= image_path("unknown.png") %> alt="" width="50">
              <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Bookings", offers_path(current_user), class: "dropdown-item" %>
              <%= link_to "My Profile", "#", class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class:"dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item" >
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
