<div data-controller="reservation">
  <div class="card-booking listing-card">
    <%= cl_image_tag listing.photos.first.key %>
    <div class="card-booking-infos listing-card">
      <div class="d-flex justify-content-between">
        <h2><%= listing.name %></h2>
        <%= link_to edit_listing_path(listing), class: "back-link" do %>
        <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
      </div>
      <p><%= listing.equipment_type %></p>
      <p><%= link_to "Item details", listing_path(listing), class: "back-link" %></p>
      <%= link_to listing_path(listing), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "back-link delete" do %>
      <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>
    <div class="card-booking-dates">
      <h3><%= listing.price_per_day %>£ per day</h3>
      <button class="btn btn-outline-dark reserve" data-action="click->reservation#displayReservations">Reservations</button>
    </div>
  </div>
  <div class="d-none" data-reservation-target="reservations">
    <div class="incoming-card">
      <% if listing.offers.empty? %>
        <p>No reservations for this item yet</p>
      <% else %>
        <% listing.offers.sort_by(&:start_date).each do |offer| %>
          <%= render "incoming_booking", offer:offer %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
