<!DOCTYPE html>
<html>
  <head>
    <title>SlopeRentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= render "shared/navbar" %>
=======
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
>>>>>>> master
=======

    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

>>>>>>> 2336253e50a2eedec9a74b2aaf4e5c934098db48
    <%= yield %>
    <%# <%= render "shared/footer" %> %>
  </body>
</html>
